# Ignore node_modules only (not vendor!)
node_modules/

# Laravel runtime files (optional if already mounted properly)
public/storage
storage/logs/
storage/framework/
bootstrap/cache/

# Docker/system
Dockerfile
.dockerignore
docker-compose.override.yml

# Git/IDEs
.git
.gitignore
.gitattributes
*.swp
*.swo
*.bak
*.tmp
*.log
*.DS_Store
*.idea/
.vscode/
